body{
    /*font-family: 'Bitter', serif;*/
    font-family: 'Ubuntu', sans-serif;
    /*background: rgba(0, 0, 0, 0.9);*/
    /*color: rgba(34,66,179,0.9);*/
    background: rgb(73,81,117);
}

.bg-dark {
    /*background: rgba(150, 165, 171, 0.9) !important;*/
    background: rgba(255, 193, 7, 0.9) !important;
}

.bg-card-orcamento{
    background: rgba(255, 193, 7, 1);
}

.bg-card-orcamento-interno{
    /*background-color: rgba(255, 240, 143, 0.7)*/
    /*background-color: #424B54;*/
    background-color: rgb(73,81,117);
    color: #fff !important;
}

.bg-card-orcamento-interno input {
    color: #fff !important;
}

.bg-card-orcamento-interno textarea {
    color: #fff !important;
}

.container-sol-orcamento {
    color: #fff !important;
    margin-top: 3rem;
    padding-top: 3rem;
}

.container-sol-orcamento input{
    color: #fff !important;
    background-color: transparent !important;
}

.container-sol-orcamento textarea{
    color: #fff !important;
}

.card-orcamento{
    /*background: rgba(255, 218, 115, 0.9) !important;*/
    background: rgba(150, 165, 171, 0.9) !important;
    color: white;
    /*color: rgba(34,66,179,0.9);*/
}

.card-visualiza-orcamento{
    /*background: rgba(255, 218, 115, 0.9) !important;*/
    /*background: rgba(206, 222, 228, 0.9) !important;*/
    background: white;
    color: black;
    /*color: rgba(34,66,179,0.9);*/
}

.text-muted {
    color: white !important;
}

.label-visualiza-orcamento {
    /*margin-left: 1rem;*/
    /*margin-top: 1rem;*/
    /*margin-right: 1rem;*/
    /*margin-bottom: 1rem;*/

    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.imagem-exemplo{
    max-width: 50%;
    height: auto;
}

.parte_corpo option{
    color: #000;
}

input::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    opacity: 0.8 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    opacity: 0.8 !important;
}

input:-ms-input-placeholder {
    color: white !important;
    opacity: 0.9 !important;
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: auto; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: rgba(0,0,0,0.6);
}

.loader {
    position: fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #495175;
    border-bottom: 8px solid #495175;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media print {
    .container {
        width: auto;
    }
}
